<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Na Trilha do Aprendizado</title>
    <link rel="stylesheet" href="css/layout01.css">
</head>
    <header> 
        <div class="logo">
           <picture>
               <img src="img/logo.png"  alt="logo">
           </picture>
        </div>
        <nav>
            <div class="navegacao"> 
                    <a href="#">O Projeto  </a>
                    <a href="#">Conteúdo</a>
                    <a href="#">Sobre </a>
            </div>
        </nav>
    </header>
    <main>
      
        <div class="principal">
            <div class="conteudo lateral">
              <h2>Título 01</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>

              
            </div>
            
            <div class="conteudo central">
              <h2>Título 02</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            
            <div class="conteudo lateral">
              <h2>Título 03</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
          </div>
    </main>
    <footer>
      <div class="rodape">
        <p>© Todos os direitos reservados a Bruno Amaral</p>
      </div>
    </footer>

    
</body>
</html>